h1{
    text-align: center;
    font-size: 100px;
    color: white;
}
p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 80px;
    color: white;
}
img{
    width: 50%;
    height: auto;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: black;
}
